extends layouts/_layout.pug

include layouts/login.pug

mixin userForm(username, is_chaperone=false)
    form(action="POST" id=username).userForm
        label(for="password")=`${username} PIN:`
        input(type="password" name="password" placeholder="12345" minlength="5" required=true).password

        label(for="password-confirm")=`${username} PIN (confirm):`
        input(type="password" name="password-confirm" placeholder="12345" minlength="5" required=true).passwordConfirm

        if is_chaperone
            label(for="chaperone-amount") Maximum amount of chaperones?
            input(type="number" name="chaperone-amount" id="chaperone-amount" placeholder=20)
            p Note that setting the chaperone pin will reset all chaperone users!
            
        input(type="submit" class="username-change" value=`Change ${username} password`)

block nav
    a(href="/src/index.pug")
        li Attendee
    a(href="/src/chaperone.pug")
        li Chaperone

block content
    +login(false, false, true)

    section#admin-settings
        h2 Admin Settings
        form(action="post")
            fieldset
                legend Collections settings
                input(type="checkbox" name="require-login" id="require-login" )
                label(for="require-login") Require PIN for viewing slogans

        button(id="setup-collections" name="setup-collections") Setup collections

        h3 Change PIN
        section#user-forms.grid
            +userForm("chaperone", true)
            +userForm("attendee")

    script(src="/src/admin.ts" type="module") 
