mixin select(label, options)
    - const id = label.toLowerCase();
    label(for=id)
        h5=label
        select(id=id name=id class="class")
            each option in options
                option=option

mixin settings()
    section#send-signal
        form(action="POST")
            h2 Send signal
            fieldset.grid
                legend
                    h3 Quick select
                +select("Urgency", ["Incoming",  "When possible", "Urgent", "Life-threatening" ])
                +select("Type", ["wait", "need water", "need medical intervention", "police intervention", "police brutality"])
                +select("Location", ["everywhere", "at the front", "at the middle", "at the back"])
                
            label(for="signal") Signal to send:
            input(type="text" name="signal" id="signal")
            input(type="submit" value="Send signal")


    section#editor-current-slogan
        h2 Editor: Change current slogan
        label(for="slogan-changer")
            input(type="checkbox" name="slogan-changer" id="slogan-changer")
            span Enable current slogan changer
        ol


    section#editor-change-slogans
        h2 Editor: Change slogans
        fieldset
            input(type="button" value="Add slogan")#add-slogan
            input(type="button" value="Edit slogans")#edit-slogans
        ol